# Configurações do Banco de Dados
DB_USER=postgres
DB_HOST=localhost
DB_DATABASE=luis
DB_PASSWORD=BemVindo!
DB_PORT=5432
# Para ambiente de teste (opcional)
DB_DATABASE_TEST=luis
# Outras configurações do projeto
PORT=3000
NODE_ENV=development
TEMPO_ACESS_TOKEN="2m"
TEMPO_REFRESH_TOKEN="24h"
SECRET_KEY=e7fba5a7b1f3d8e90e6292c0bb1d71b1b92e3a768b99efbe82f309ca7eddd4cc
JWT_REFRESH_SECRET=378148fe32cc9c2a3f981c99946a448a154787abe9f7685a06d603df005767af



